@charset "UTF-8";
/* CSS Document */
html{
	height:100%;
background: rgba(0,133,120,1);
background: -moz-linear-gradient(top, rgba(0,133,120,1) 0%, rgba(0,169,152,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,133,120,1)), color-stop(100%, rgba(0,169,152,1)));
background: -webkit-linear-gradient(top, rgba(0,133,120,1) 0%, rgba(0,169,152,1) 100%);
background: -o-linear-gradient(top, rgba(0,133,120,1) 0%, rgba(0,169,152,1) 100%);
background: -ms-linear-gradient(top, rgba(0,133,120,1) 0%, rgba(0,169,152,1) 100%);
background: linear-gradient(to bottom, rgba(0,133,120,1) 0%, rgba(0,169,152,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008578', endColorstr='#00a998', GradientType=0 );
}